h1{
    color:rgb(255, 183, 0);
    text-decoration: none;
    background-color:paleturquoise
}
h1:hover{
    color:azure;
    background-color:black
}
.bg:hover{ 
    oacity: 0.5;
}
.bg{
    Width:700px;
    height: 400px;
    border-image: url(315597176_1789899451409817_5161493823735091668_n.png) no-repeat border-box;
}
h1{font-size: 35;
    text-shadow: 5px 5px 5px green;

}